body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* menu-page */
.btn-group {
  background-color: #00000000; /* mau nen cua chinh no*/
  padding-top: 10px; /* khoang doi voi cac component nam ben trong no*/
  margin: 10px; /* khoang cach doi cac component ben ngoai*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}

.menu .text-center .btn-group .btn {
  margin: 10px;
  background-color: green;
  border-color: green;
  border-radius: 15px;
}

.card-body .card-text {
  color:green;
}
.menu .text-center .header-text {
    color: blue; /* mau chu */
    font-size: 20px; /* kich co chu*/

  }



.login-page {
  width: 50%;
}

.order-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.order-group .order-group-item {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.order-group .order-group-item .order-group-item-img .img {
  width: 50px;
}

.order-group .order-group-item .order-group-item-img {
  width: 80px;
  height: 80px;
  background-color: #00470f;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-up {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sign-up .h1{
  color: rgb(61, 59, 59);
}
.sign-up .submit-g-btn{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login .btn{
  background-color: green;
  border-color: green;
}
.login .link{
  color: green;
}