body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e8d9c6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* home page */

.home-page {
  background-color: #e8d9c6;
}

.home-page .header-text {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
}

.home-page h1 {
  font-weight: bold;
}

.home-page .btn-viewmore {
  align-self: center;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.btn-cart {
  margin-left: 10px;
  position: relative;
  display: inline-block;
}

.cart-number {
  position: absolute;
  right: -5px;
  top: 5px;
  background: red;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 9999px;
  color: white;
  font-size: 14px;
}

.cart-svg path {
  fill: white !important;
}

.home-page a {
  text-decoration-line: none !important;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.meal-type-gp-btn {
  align-self: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}

.meal-type-btn {
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgb(110, 45, 45) !important;
  border-color: rgb(110, 45, 45) !important;
}

.home-page .list-product-item {
  align-self: center;
  display: flex;
  justify-content: center;
  padding: auto;
  margin: auto;
}

/* menu page */
.menu {
  padding-top: 80px;
  background-color: #e8d9c6;
}

.menu .list {
  background-color: #e8d9c6;
}

/* Extra Large Product Item*/
.extra-lg-product-item {
  width: 45%;
  height: 300px;
  margin: auto;
  margin-bottom: 30px;
}

.extra-lg-product-item-title {
  font-weight: bold !important;
  min-height: 30px;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.extra-lg-product-item-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7 !important; /* number of lines to show */
  line-clamp: 7 !important;
  -webkit-box-orient: vertical;
  text-align: left;
}

.extra-lg-product-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.extra-lg-product-item-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.extra-lg-product-item-price {
  margin: auto;
  margin-right: 10px;
  font-size: 16px;
  color: black !important;
  font-weight: bold;
}

.menu .pagination-container {
  align-self: center;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
}

/* Large Product Item*/
.lg-product-item-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.lg-product-item-title {
  font-weight: bold !important;
  min-height: 50px;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.topbar {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.topbar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
}

.top-nav-link {
  color: white !important;
  font-size: 18px;
  font-weight: 400 !important;
}

.top-nav-link-user {
  background-color: transparent !important;
  border-color: transparent !important;
  margin: auto !important;
  color: white !important;
  font-size: 18px !important;
  font-weight: 400 !important;
}

.lg-product-item-price {
  font-size: 16px;
  color: black !important;
  font-weight: bold;
}

.bottom-logo-img {
  width: 200px !important;
  align-self: center !important;
}

.bottom-restaurant-desc {
  font-size: 14px;
  color: black !important;
}

.bottom-nav-card {
  background-color: #e8d9c6 !important;
}

.bottom-nav-card-img-c {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.bottom-nav-card-img {
  width: 160px !important;
  height: 100px;
  margin: 4px;
}

.bottom-nav-link-wrapper {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap;
}

.bottom-nav-link {
  width: 50%;
  font-weight: 300 !important;
}

/* menu-page */
.btn-group {
  background-color: #00000000; /* mau nen cua chinh no*/
  padding-top: 10px; /* khoang doi voi cac component nam ben trong no*/
  margin: 10px; /* khoang cach doi cac component ben ngoai*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}

.menu .text-center .btn-group .btn {
  margin: 10px;
  background-color: green;
  border-color: green;
  border-radius: 15px;
}

.card-body .card-text {
  color: green;
}
.menu .text-center .header-text {
  color: blue; /* mau chu */
  font-size: 20px; /* kich co chu*/
}

.login-page {
  width: 50%;
}

.order-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.order-group .order-group-item {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.order-group .order-group-item .order-group-item-img .img {
  width: 50px;
}

.order-group .order-group-item .order-group-item-img {
  width: 80px;
  height: 80px;
  background-color: #00470f;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-up {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
  background-color: #e8d9c6;
}

.sign-up .mb-3 {
  width: 500px;
}
.sign-up .h1 {
  color: rgb(61, 59, 59);
}
.sign-up .submit-g-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 100px;
}

.sign-up .submit-btn {
  margin-left: 10px;
  margin-right: 10px;
}

.login {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
  background-color: #e8d9c6;
}

.login .btn {
  background-color: green;
  border-color: green;
}

.login .link {
  color: green;
}

.login .mb-3 {
  width: 500px;
}

.store-infor {
  padding-top: 80px;
  background-color: #e8d9c6;
}

.store-infor .h1 {
  color: #333;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: center;
}

.store-infor .p {
  padding-left: 5%;
  padding-right: 5%;
}

.store-infor .img {
  padding-top: 20px;
  padding-bottom: 24px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.store-infor .p1 {
  padding-top: 24px;
  font-weight: bold;
  font-style: italic;
}

.store-infor .p2 {
  font-weight: bold;
  color: rgb(0, 51, 0);
}

.store-infor .p4 {
  font-weight: bold;
  padding-bottom: 24px;
}

.store-infor .p5 {
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
  background-color: #e8d9c6;
}

.contact .mb-3 {
  width: 500px;
}

.tb_1 .tb_product_management {
  margin-left: 5%;
  margin-right: 5%;
}

.tb_1 .tb_product_management ent table, th, td {
    border: 1px solid black;
  
}
.tb_order .img{
  width: 60px;
  height: 50px;
}
